.general {
    background-color: grey;
    height: 600px;
    position: fixed;
    left: 0;
    top: 60px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
    padding-bottom: 500px;
    overflow-x: hidden;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

}

.button {
    font-style: normal;
    font-size: normal;
    background-color:rgb(255, 191, 0);
    color: black;
    border-radius: 5px;
    border-color: black;
    cursor: pointer;
    width: 65px;
}

.bar {
    width: 150px;
    padding: 5px;
    margin: 10px;
    border-color:  rgb(135, 88, 155);
}